@CHARSET "UTF-8";
body{
	font-family: Helvetica Neue;
}

h1{
	font-family: Helvetica;
	font-size: 85px;
	color: #E62B1E;
	text-align: left;
	margin: 23px;
	text-align: left;
}

p{
	font-size: 30px;
	font-weight: lighter italic;
	text-align: center;
}

ul{
    	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li a:hover {
	color: white;
	background-color: #E62B1E;
}
p{
	font-size: 20px;
	text-align: left;
	margin: 30px;
}}

img{
	width:296px;
	height: 296px;
}