@CHARSET "UTF-8";
body{
	font-family: Helvetica Neue;
	text-align: center;
}

h1{
	font-family: Helvetica Neue;
	font-size: 55px;
	color: #E62B1E;
	text-align: center;
}

table{
	background-color:#E62B1E;
	width: 300px;
	border: 15px solid #E62B1E;
	padding: 12px;
	margin: 15px;
}

input[type=text]{
	box-sizing: border-box;
	border: 2px solid #E62B1E; /*official tedtalk color; make all red this color */
 	font-size: 16px;
 }
input[type=password]{
	box-sizing: border-box;
	border: 2px solid #E62B1E;
 	font-size: 16px;
}
		
input[type=submit]{
   	background-color: white; 
    color: black; 
    border: 2px solid #E62B1E;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
   	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #E62B1E;
    color: white;
}