@CHARSET "UTF-8";
h1{
	color: #E62B1E;
	text-align: center;
	font-family: Helvetica Neue;
	font-weight: 900px;
	font-size: 120px;
	padding: 0px;
	margin-bottom: 5px;
}

h2{
	color: #E62B1E;
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 35px;
	font-weight: 900px;
	text-align: left;
	margin-left: 100px;
	padding: 0px;
	text_decoration: underline;
}


body{
	text-align: center;
}

input[type=submit]{
	background-color: #E62B1E; 
	color: black; 
	border: 2px solid #E62B1E;
	padding: 6px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* for Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #E62B1E;
	color: white;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}

li b.welcome{
	text-align: left;
}
li a:hover {
	color: white;
	background-color: #E62B1E;
}
p{
	font-size: 35px;
	text-align: center;
	color: #E62B1E;
	font-family: Helvetica Neue;
	padding: 0px;
	margin-top: 0px;
	margin-bottom:70px;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin-left: 9%;
}
th, td{
	
	text-transform: capitalize;
	text-align: left;
	padding: 8px;
	font-family: Helvetica;
	font-size: 21px;
	color: #E62B1E;
}
