@CHARSET "UTF-8";

h1{
	color: #E62B1E;
	text-align: center;
	font-family: Helvetica Neue;
	font-weight: 900px;
	font-size: 120px;
}

body{
	text-align: center;
}
input[type=submit]{
    background-color: white; 
    color: black; 
    border: 2px solid #E62B1E;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover{
	background-color: #E62B1E;
    color: white;
}
