@CHARSET "UTF-8";
body{
	background-color: white;
	text-align: left;
	font-family: Helvetica Neue;
}

form div + div{
	margin: 10px;
}
input{
	width: 300px;
	font: 1em sans-serif;

  	/*give same size to all text fields */
  	width: 300px;
  	box-sizing: border-box;

  	/* make all text boxes appear the same */
 	border: 1px solid #999;
}

#rating1{
	width: 10px;
}
#rating2{
	width: 10px;
}
#rating3{
	width: 10px;
}
#rating4{
	width: 10px;
}
#rating5{
	width: 10px;
}

textarea{
	width: 500px;
	height: 100px;
}