@CHARSET "UTF-8";

h1{
	color: #E62B1E;
	text-align: center;
	font-family: Helvetica Neue;
	font-weight: 900px;
	font-size: 90px;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 25px;
}

h2{
	color: black;
	text-align: center;
	font-family: Helvetica Neue;
	font-weight: 900px;
	font-size: 40px;
	padding: 0px;
	margin-top: 20px;
}

a{
	font-size: 29px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}

li a:hover {
	color: white;
	background-color: #dc513e;
}

li a: selected {
	color: white;
}

p{
	font-size: 35px;
	text-align: center;
	color: #E62B1E;
	font-family: Helvetica Neue;
	padding: 0px;
	margin-top: 0px;
	margin-bottom:6px;
}
table {
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica Neue;
	color: #dc853f;
	font-size: 20px;
	background-color: white;
}

table:hover, table:focus {
	color: white;
	background-color: #f07b61;
	-webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
}

td{
	padding: 27px;
}