@CHARSET "UTF-8";
body{
	background-color: white;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700px;
}
.Link{
	margin: 10px;
}

h1{
	font-family: Helvetica Neue;
	font-size: 70px;
	color: #E62B1E;
	margin: auto;
	text-align: center;
	padding: 20px;
}

form div + div{
	margin: 10px;
}

.error {
	color: red;
}
div{
	text-align: left;
	margin: 0px;
}

form{
	background-color:#E62B1E;
	color: white;
	font-size: 25px;
	width: 500px;
	text-align: center;
	margin: auto;
    border: 3px solid #E62B1E;
    padding: 40px;
}	

input[type=text] {
	width: 300px;

  	/*give same size to all text fields */
  	width: 300px;
  	box-sizing: border-box;

  	/* make all text boxes appear the same */
 	border: 2px solid #ff193d;
 	font-size: 16px;
 	font-family: Helvetica Neue;
}

textarea{
	width: 500px;
	height: 100px;
	border: 2px solid #E62B1E;
	font-size: 16px;
	font-family: Helvetica Neue;
}

input[type=submit] {
	margin: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #E62B1E;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover{
	background-color: #E62B1E;
    color: white;
}

ul{
    	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li a:hover {
	color: white;
	background-color: #E62B1E;
}
p{
	font-size: 20px;
	text-align: center;
}
