@CHARSET "UTF-8";
body{
	background-color: white;
	text-align: left;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700px;
}
.Link{
	margin: 10px;
}

form div + div{
	margin: 10px;
}

.error {
	color: red;
}
		

input[type=text] {
	width: 300px;

  	/*give same size to all text fields */
  	width: 300px;
  	box-sizing: border-box;

  	/* make all text boxes appear the same */
 	border: 2px solid #ff193d;
 	font-size: 16px;
 	font-family: Helvetica Neue;
}

textarea{
	width: 500px;
	height: 100px;
	border: 2px solid #E62B1E;
	font-size: 16px;
	font-family: Helvetica Neue;
}

input[type=submit] {
	margin: 10px;
    background-color: white; 
    color: black; 
    border: 2px solid #E62B1E;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover{
	background-color: #E62B1E;
    color: white;
}
