@CHARSET "UTF-8";
h1{
	color:  #E62B1E;
}
h2{
	color:  #E62B1E;
}
a{
	font: 35px;
	color:  #E62B1E;
	font-family; Helvetica;
}

ul{
    	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li a:hover {
	color: white;
	background-color: #E62B1E;
}
p{
	font-size: 20px;
	text-align: center;
}