@CHARSET "UTF-8";
h1{
	color:  #E62B1E;
}
h2{
	color:  #E62B1E;
	font-family: Helvetica Neue;
	text-align: center;
	font-size: 50px;
	margin-bottom: 0px;
}

iframe{
	margin-left: 29%;
	border: 2px solid #E62B1E;
}
h3{
	color:  #E62B1E;
	font-family: Helvetica;
	text-align: center;
	font-size: 23px;
}

.reviews{
	font-size: 30px;	
}

input[type=submit]{
    background-color: white; 
    color: black; 
    border: 2px solid #E62B1E;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 44%;
}

input[type=submit]:hover{
	background-color: #E62B1E;
    color: white;
}

table{
	font: 35px;
	color:  #E62B1E;
	font-family; Helvetica;
	font-size: 25px;
	margin-left: 29%;
}
a{
	font: 35px;
	color:  #E62B1E;
	font-family; Helvetica;
	text-align: center;
}

ul{
    	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E62B1E;
}

li {
	float: left;
}

li a {
	font-family: Helvetica Neue;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li b {
	font-family: Helvetica;
	display: block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: #E62B1E;
}
li a:hover {
	color: white;
	background-color: #E62B1E;
}
p{
	font-size: 20px;
	text-align: center;
}